<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Slot Machine</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h2 id="jackpot" class="hidden">JACKPOT! You earned<span> +200 credits!</span></h2>
		<h2 id="megaJackpot" class="hidden">MEGA JACKPOT!! You earned<span> +2000 credits!</span></h2>
		<ul class="grid">
			<li id="0"></li>
			<li id="1"></li>
			<li id="2"></li>
			<li id="3"></li> 
		</ul>
		<button class="btn" id="btn">spin</button>
		<h3 id="creds"></h3>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
