/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/


header nav ul li {
  float: right;
}

header nav ul li a {
  padding: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main h1 {
  clear: both;
}

main section {
  padding: 40px 20px;
  max-width: 60%;
  
}

main, header {
  background-image: url("http://placekitten.com/700/500");
  background-size: 100%;
}

main ul li {
  float: left;
  list-style-type: none;
  padding-right: 20px;
}

section.about {
  padding-left: 30%;
  background-image: url("http://placekitten.com/800/800");
}

section.about *{
  width: 75%;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.order, section.hours {
  text-align: center;
  background: url("http://placekitten.com/700/700");
  float: left;
  width: 100%;
}

section.order ul {
  width: 100%;
  text-align: center;
}

section.order li {
float: left;
text-align: center;
width: 20%;
}
 
ul.imageList li {
  width: 25%;
}

div {
  width: 50%;
  float: left;
}

section.hours {
  background: url("http://placekitten.com/850");
}

section.testimonials p {
  padding: 0 50px;
}

section.testimonials {
  clear: both;
  background: url("http://placekitten.com/1200");
}

body section {
  padding: 10%;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 10px;
}

header a {
  color: rgb(94, 95, 122);
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
}
main section h1, main section ul {
  padding: 10px 0;
}

.button {
  background: rgb(255, 137, 2);
  padding: 4px;
  border-radius: 10%;
}

h4 {
  color: rgb(255, 137, 2);
}

h2 {
  font-size: 2.5em;
  padding: 10px 0;
}