/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.grid {
  display: flex;
  justify-content: space-around;
  
  margin: 20px auto;
}

.btn {
  display: block;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
  padding: 25px;
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h2 span {
  color: green;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}

li {
  border: solid rgb(51, 51, 51) 3px;
  border-radius: .1em;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: rgb(255, 255, 255)
}

.winGrid {
  background: green;
  color: white;
}

body {
  background: rgb(248, 248, 248);
  color: black;
}

.btn {
  width: 25%;
  padding: 6px;
}
